@model BeautySalon.Models.Разряды

@{
    ViewBag.Title = "Удаление разряда";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Удаление разряда</h2>

<h3>Вы действительно хотите удалить разряд?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Разряд)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Разряд)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к списку", "Razr")
        </div>
    }
</div>
