@{
    ViewBag.Title = "О салоне";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>
    Посещение нашего райского уголка несет гармонию, которая изначально свойственна женщине, и которую она порой утрачивает в слишком динамичной нынешней жизни, перегруженной эмоциями, событиями, суетой.<br />
    У нас в гостях Вы сможете приятно отдохнуть и восстановиться за чашечкой чая с фирменным шоколадом в теплой домашней обстановке.<br />
    Мы предлагаем Вам уникальную систему обновления и оздоровления.<br />
    Наши специалисты работают творчески и профессионально, применяя самые эффективные и современные технологии в области косметологии, нейл-эстетики, парикмахерского искусства!<br />
    В нашем салоне Вы сможете:<br />
    Получить полный спектр услуг по терапевтической косметологии лица и тела: профессионалы-косметологи работают на современном ультразвуковом оборудовании, используют уникальные омолаживающие методики. Врач дерматокосметолог поможет решить любые проблемы заболеваний кожи.<br />
    Доверить создание и совершенствование своего образа опытным парикмахерам. Без преувеличения - они могут все: креативные стрижки, колорирование, наращивание волос, биозавивка (Paul Mitchell). Вечерние и свадебные прически, выпрямление волос, лечение волос и кожи головы и многое другое.<br />
    Дополнить образ профессиональным макияжем.<br />
    Попробовать все разновидности маникюра и педикюра, наращивания, укрепления и лечения ногтей, парафинотерапию, омолаживающий маникюр, запечатывание ногтевой пластины.<br />
    Избавиться от лишнего веса и целлюлита с помощью миостимуляции, прессотерапии по системе LPG, почувствовать на себе все техники массажа.<br />
    Окунуться в мир SPA процедур и получить удовольствие от талассотерапии, шоколадного или винного обертывания, фитопилинга или стоун терапии.<br />
    В нашем салоне:<br />
    Используются только высокоэффективные и безопасные средства мировых брэндов:<br />
    • Jessica (США),<br />
    • Janssen (Германия),<br />
    • Christina (Израиль),<br />
    • GiGi (Израиль),<br />
    • Dikson (Италия),<br />
    • Keune (Голландия),<br />
    • Paul Mitchell (США);<br />
    Ведется предварительная запись клиента, возможность записи онлайн;<br />
    Накопительные скидки, карточки постоянного клиента;<br />
    Новинки, акции, подарки, сертификаты.<br />
    Мы всегда рады Вам!
</p>
