@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Адрес: г. Челябинск, ул. Бр. Кашириных, 163<br />
    Телефон: тел: +7 (351) 240-03-00, +7 (982) 102 23 27<br />
    <p>Время работы: 9:00 - 21:00 без выходных</p><br />
</address>
<address>
    <strong>Email:</strong>   <a href="mailto:anastasiaspa@mail.ru">anastasia@spa.ru</a><br />
</address>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1840.6078585090724!2d61.294619367663465!3d55.16260577377814!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c5925308b469a1%3A0x3270109ac272a1c8!2z0YPQuy4g0JHRgNCw0YLRjNC10LIg0JrQsNGI0LjRgNC40L3Ri9GFLCAxNjMsINCn0LXQu9GP0LHQuNC90YHQuiwg0KfQtdC70Y_QsdC40L3RgdC60LDRjyDQvtCx0LsuLCA0NTQwMDQ!5e0!3m2!1sru!2sru!4v1458582137788" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
