@{
    ViewBag.Title = "Главная";
}

<div class="jumbotron">
    @*<h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    <img id="logotip" src="https://pp.vk.me/c630723/v630723035/7446/sAlG-Rg6sXY.jpg">
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ПОДАРОЧНЫЙ СЕРТИФИКАТ</h2>
        @*<img src="https://pp.vk.me/c630723/v630723035/74c7/dsiv6BTiUJw.jpg">*@
        <img src="https://pp.vk.me/c630623/v630623035/1fb55/Uj2efLzrGF8.jpg">
        <p>
            Это несомненно приятный и очень полезный подарок для близких, друзей, коллег!
            Вы можете выбрать одну из наших Спа-процедур для тела или приобрести сертификат на определенную сумму от 1 000 рублей.
            Скидки до 31 декабря. Сертификат действует 6 месяцев с момента приобретения. Доставка.
        </p>
    </div>
    <div class="col-md-4">
        <h2>ПРАЗДНИЧНЫЕ АКЦИИ</h2>
        <img src="https://pp.vk.me/c630623/v630623035/1fb47/euURleclPgI.jpg">
        <p>Уважаемые гости салона красоты Anastasia! В связи с праздниками Вы получаете в подарок купоны со скидкой 15% на обслуживание в 2016 году, а также действуют праздничные скидки на ряд продуктов и услуг.</p>
    </div>
    <div class="col-md-4">
        <h2>ОМОЛАЖИВАНИЕ СО СКИДКОЙ</h2>
        <img src="https://pp.vk.me/c630623/v630623035/1fb40/C7Oyp1m531k.jpg">
        <p>Заметное улучшение тонуса кожи и нарастающий эффект подтяжки безопасно! Безболезненные комфортные процедуры на немецком оборудовании. Результат нарастает в течение полугода и сохраняется надолго. Скидка более 15%!</p>

    </div>

    <div class="Guestbooks">
        @Html.Partial("_Guestbooks")
    </div>

</div>